---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "ブログ一覧";
---

<BaseLayout pageTitle={pageTitle} browserTitle="tamago tech">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {
      allPosts.map((post) => (
        <BlogPost url={post.url} title={post.frontmatter.title} pubDate={post.frontmatter.pubDate} description={post.frontmatter.description} image={post.frontmatter.image} tags={post.frontmatter.tags} />
      ))
    }
  </div>
</BaseLayout>
