---
import { Image } from "astro:assets";
import SocialMedias from "../components/SocialMedias.astro";
import profileImg from "../images/portfolio-avatar.png";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const pageTitle = "tamago tech";

const languages = ["Go", "Java", "JavaScript", "TypeScript", "Python"];
const frameworks = ["Spring Boot", "React"];
---

<BaseLayout pagTitle={pageTitle}>
  <div class="flex flex-col items-center justify-center text-center">
    <h1 class="text-4xl font-bold mb-4">{pageTitle}</h1>
    <Image src={profileImg} alt="イメージアイコン" width={200} height={200} class="rounded-full mb-6" />
    <SocialMedias />
    <h2 class="text-3xl font-semibold mt-8 mb-4">Skill</h2>
    <h3 class="text-2xl font-medium mb-2">Languages</h3>
    <ul class="list-disc list-inside mb-6">
      {languages.map((language) => <li class="text-lg">{language}</li>)}
    </ul>
    <h3 class="text-2xl font-medium mb-2">Framework/Library</h3>
    <ul class="list-disc list-inside mb-6">
      {frameworks.map((f) => <li class="text-lg">{f}</li>)}
    </ul>
    <h2 class="text-3xl font-semibold mt-8 mb-4">Career</h2>
    <p class="text-lg">Comming soon</p>
    <h2 class="text-3xl font-semibold mt-8 mb-4">Qualification</h2>
    <p class="text-lg">none</p>
  </div>
</BaseLayout>
